{% extends "sitewide/base.html" %}

{% block title %}Index{% endblock %}

{% block nav %}
<a href="{% url editor_view %}">Back</a>
{% endblock %}

{% block content %}

{% if tweet_list %}
    {% if type_tweets %}
        <h3>{{ type_tweets }} Tweets</h3>
    {% endif %}
    
    <table border="1">
        <tr>
            <td>Tweet</td>
            <td>Submit Date</td>
            <td>User Id</td>
            <td>Username</td>
            {% if type_tweets == 'Published' %}
            <td>Retweet Count</td>
            {% endif %}
        </tr>
    {% for tweet in tweet_list %}
        <tr>
            <td>{% if tweet.twitter_id %}
                    <a href="https://twitter.com/cmtwitbot/status/{{ tweet.twitter_id }}">
                {% endif %}
                {{ tweet.content }}
                {% if tweet.twitter_id %}
                    </a>
                {% endif %}
            </td>
            <td>{{ tweet.submit_date }}</td>
            <td>{{ tweet.user_id }}</td>
            <td>{{ tweet.user.username }}</td>
            {% if type_tweets == 'Published' %}
            <td>{{ tweet.retweet_count }}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No tweets are available.</p>
{% endif %}

<div class="pagination">
    <span class="step-links">
        {% if tweet_list.has_previous %}
            <a href="?page={{ tweet_list.previous_page_number }}">previous</a>
        {% endif %}
        
        <span class="current">
            Page {{ tweet_list.number }} of {{ tweet_list.paginator.num_pages }}.
        </span>
        
        {% if tweet_list.has_next %}
            <a href="?page={{ tweet_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}